@import "../../visual/mixin";
@import "../../visual/colors";


:host {
  .search {
    width: 400px;
    padding: 1rem;
    background-color: $main-white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    &__top {
      @include flex(row, center, flex-start);
      gap: 1rem;
      width: 100%;


      &_input {
        width: 300px;
        height: 30px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: $main-white;
        border: 1px solid $border-lightgrey;

        &:focus-visible{
          outline: none;
        }
        &::placeholder {
          color: $border-lightgrey;
        }

        @media screen and (max-width: 480xp) {
          width: 350px;
        }
      }
    }

    &__middle {
      @include flex(row, center, flex-start);
      gap: 1rem;
      width: 100%;

      &_label {
        padding-left: 10px;
      }

      &_input {
        height: 30px;
        padding-left: 7px;
        border: 1px solid $border-lightgrey;
        border-radius: 3px;

        &:focus-visible {
          outline: none;
        }
        &::placeholder {
          color: $border-lightgrey;
        }

        @media screen and (max-width: 480px){
          width: 130px;
        }
      }
    }

    &__bottom {
      @include flex(row, flex-start, space-between);
      width: 100%;

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
    }

    &_not-found {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      width: 363px;
    }
  }


}
