/* You can add global styles to this file, and also import other style files */
@import "visual/mixin";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 2500px;
  width: 100%;
}


